[[McpServerStdIO]]
task_name = "filesystem_mcp"
command = "npx"
args = ["-y", "@modelcontextprotocol/server-filesystem", "/home/coding/coto/miclow/examples/mcp"]
working_directory = "./"
view_stdout = true
view_stderr = true

[[McpServerTcp]]
task_name = "filesystem_mcp_tcp"
host = "127.0.0.1"
port = 8890
view_stdout = true
view_stderr = true

[[MiclowStdIO]]
task_name = "main"
command = "uv"
args = ["run", "python3", "main.py"]
working_directory = "${MICLOW_CONFIG_DIR}"
environment_vars = { PYTHONUNBUFFERED = "1" }
view_stdout = true
view_stderr = true

