[[tasks]]
task_name = "filesystem_mcp"
protocol = "McpServerStdIO"
command = "npx"
args = ["-y", "@modelcontextprotocol/server-filesystem", "/home/coding/coto/miclow/examples/mcp"]
working_directory = "./"
view_stdout = true
view_stderr = true

[[tasks.function]]
topic = "filesystem_mcp"

[[tasks]]
task_name = "filesystem_mcp_tcp"
protocol = "McpServerTcp"
host = "127.0.0.1"
port = 8890
view_stdout = true
view_stderr = true

[[tasks.function]]
topic = "filesystem_mcp_tcp"

[[tasks]]
task_name = "main"
protocol = "MiclowStdIO"
command = "uv"
args = ["run", "python3", "main.py"]
working_directory = "${MICLOW_CONFIG_DIR}"
environment_vars = { PYTHONUNBUFFERED = "1" }
view_stdout = true
view_stderr = true

